.container{
    width: 1000px;
    height:1000px;
    background-color: rgb(160, 185, 177);
    margin: 0px auto;
    text-align: center;
}

.title{
    width: 1000px;
    height: 100px;
    background-color: rgb(212, 148, 148);
    color: white;
    font-weight: bolder;
    font-size: 24px;
    padding-top: 50px;
 
}
.addList{

    width: 500px;
    height: 500px;
    background-color: rgb(212, 148, 148);
    margin: auto;
    margin-top: 50px;

}
ul{
   list-style: none;
}